body{
    /* background-color:cornflowerblue; */
    background: url("main_img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    max-width: 1200px;
}
