{% extends 'base.html' %}
{% load static %}
{% block title %}
Gantt - 
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="text-center"><b>✔Gantt Chart✔</b></h1>
        <a href="{% url 'index' %}" class="btn btn-primary">Back to list</a>
    </div>
    <div class="card-body">
        <div class="imgScrollBox">
        <img class="card-img" src="{% static 'Project_gantt.svg' %}">
        </div>
            {% for task in tasks %}
            <li class="list-group-item list-group-item-action">
                <b>{{task.title}}</b>
            </li>
            {% endfor %}
    </div>

</div>
{% endblock content %}