{% extends 'base.html' %}
{% load static %}
{% block title %}
Gantt - 
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="text-center"><b>✔Gantt Chart✔</b></h1>
    </div>
    <div class="card-body">
        <img class="card-img" src="{% static 'Project_gantt.svg' %}">
            {% for task in tasks %}
            <li class="list-group-item list-group-item-action">
                {{task.id}}
                <b>{{task.title}}</b>
            </li>
            {% endfor %}
    </div>

</div>
{% endblock content %}