{% extends 'base.html' %}
{% block title %}
Tasks -
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="text-center"><b>TODO LIST</b></h1>
    </div>
    <div class="card-body">
        <div>
        <a href="{% url 'gantt_task' %}" class="btn btn-dark">GanttChart</a>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="post-form my-3">   
                <!-- {{task_form}} to display all -->
                {{task_form.title}}
                <div class="row g-3">
                    <div class="col-sm-7">
                        <b>일정시작</b>{{task_form.start_day}} {{task_form.start_month}} {{task_form.start_year}}<br>
                        <b>일정종료</b>{{task_form.end_day}} {{task_form.end_month}} {{task_form.end_year}}
                    </div>
                </div>
                <!-- to display particular field-->
                <button type="submit" class="btn btn-dark btn-lg">ADD</button>
            </div>
        </form>
        <h4 class="bg-dark text-light py-2 rounded text-center">My Tasks:</h4>
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item list-group-item-action">
                {% if task.completed == True %}
                <strike>{{task.title}}</strike>
                {% else %}
                {{task.title}}  <b>{{task.start_year}}년 {{task.start_month}}월 {{task.start_day}}일</b> to 
                <b>{{task.end_year}}년 {{task.end_month}}월 {{task.end_day}}일</b>
                {% endif %}
                <div class="float-right">
                    <a href="{% url 'update_task' task.id %}" class="btn btn-dark btn-info">Update</a>
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-dark btn-danger">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}